<!DOCTYPE HTML>
<html>
<head>
    <title>Cartórios</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Cartório <span th:text="${cartorio.nome}"></span></h1>
<div th:switch="${cartorio}">
    <h2 th:case="null">Cartório não cadastrado</h2>
    <div th:case="*">

        <a th:href="@{/cartorios}">Voltar</a>

        <div>Nome do cartório: <span th:text="${cartorio.nome}"></span></div>
        <div>Endereço do cartório: <span th:text="${cartorio.endereco}"></span></div>

        <table>
            <thead>
            <tr>
                <th>Nome das certidões</th>
                <!--                <th>Visualizar</th>-->
                <!--                <th>Deletar</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="certidao : ${cartorio.certidoes}">
                <td th:text="${certidao.nome}"></td>
                <!--                <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>-->
                <!--                <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>